@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
.logo {
	width: 60px;
	height: 60px;
	color: #5ece7b;
}
.underLine {
	border-bottom: 2px solid #5ece7b;
}
.fontCust {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #5ece7b !important;
}
.fontCustAnother {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	color: #1d1f22 !important;
}
.cartIcon {
	width: 20px;
	height: 20px;
	color: #43464e;
}
